

.list-banner-bg{
   display: none;
}

@media (min-width: 0px) {
    .banner{
        height: 160px;
    }

    .banner h1{
        font-size: 20pt !important;
    }
}

@media (min-width: 600px) {
    
    .list-banner-bg{
        display: block;
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 40vh;
        background-size: 110% auto;
        background-repeat: no-repeat;
        background-position: top; 
    }

    .arrow-slide-to{
        display: none;
    }

    .list-banner .right-medium-text{
        bottom: 50%;
    }

    .list-banner .right-big-text{
        bottom: 65%;
    }

    .banner-with-love{
        bottom: 40%;        
    }

    .banner{
        height: 260px;
       
    }

    .banner h1{
        font-size: 35pt !important;
    }
}


@media (min-width: 900px) {
    .list-banner-bg{
        display: block;        
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 50vh;
        background-size: 110% auto;
        background-repeat: no-repeat;
        background-position: top; 
    }

    .arrow-slide-to{
        display: none;
    }
}

@media (min-width: 1300px) {
    .list-banner-bg{
        display: block;        
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 90vh;
        background-size: 110% auto;
        background-repeat: no-repeat;
        background-position: top; 
    }

    .arrow-slide-to{
        display: block;
    }
}


